@media screen and (max-width: 991px) and (min-width: 320px){
    .download-app-img{
        display: none;
    }
	
	.home-area::after {		
		opacity: 0.8;
	}
	
	
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
	.screenshort-slide-content {
		height: 415px;
	}
	.screenshort-frame {
		width: 188px;
		height: 385px;
		top: 15px;
	}
	.download-area {
		margin-top: 0;
	}	
	.download-app-img {
		margin-top: -0px;
	}
	
	.navbar-nav .nav-item .nav-link {
		font-size: 16px;
	}

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
		padding-right: 0;
	}
	.home-area .home-content h1 {
		font-size: 35px;
		line-height: 1.3;
	}
	.home-area .home-content p {
		font-size: 15px;
		line-height: 1.3;
	}
	.choose-item-box {
		margin-bottom: 30px;
	}
	.choose-item-box:last-child {
		margin-bottom: 0px;
	}
	.about-img {
		margin-bottom: 30px;
	}
	.about-info {
		padding-right: 0;
	}
	.screenshort-slide-content {
		height: 500px;
	}
	.screenshort-frame {
		width: 245px;
		height: 500px;
		top: 0px;
	}
	.overview-img {
		margin-top: 30px;
		text-align: center;
	}
	.faq-img {
		margin-top: 35px;
		text-align: center;
	}
	.blog-area .blog-item {
		margin-bottom: 30px;
	}
	.blog-area .blog-item:last-child {
		margin-bottom: 0px;
	}
	.download-area {
		margin-top: 0;
	}
	.footer-link {
		margin-bottom: 30px;
	}
	.footer-link:last-child {
		margin-bottom: 0px;
	}

}

@media only screen and (max-width: 767px) {
	.navbar-nav {
		margin-top: 15px;
	}
	
	
	#nossas-semijoias .owl-item.center img {transform: scale(1); }
	.navbar-b .nav-item {
		margin-bottom: 10px;
	}
	.navbar-b .nav-item:last-child {
		margin-bottom: 0px;
	}
	#navbarDefault {
		width: 100%;
		height: 165px;
		overflow-y: scroll;
	}
	.home-area {
		padding-top: 150px;
	}
	.hero-equal-height{
		min-height: 400px;
	}
	.home-area .home-content h1 {
		font-size: 33px;
		line-height: 1.3;
	}
	.home-area .home-content p {
		font-size: 15px;
		line-height: 1.3;
	}
	.home-image {
		margin-top: 30px;
	}
	.choose-item-box {
		margin-bottom: 30px;
	}
	.choose-item-box:last-child {
		margin-bottom: 0px;
	}
	.about-img {
		margin-bottom: 30px;
	}
	.about-info {
		padding-right: 0;
	}
	.screenshort-slide-content {
		height: auto;
	}
	.screenshort-frame {
		display: none;
	}
	.screenshort-item img {
		margin: auto;
		width: 100% !important;
	}
	.overview-img {
		margin-top: 30px;
		text-align: center;
	}
	.overview-info ul li {
		display: block;
		margin-top: 25px;
		margin-right: 0;
	}
	.faq-img {
		margin-top: 35px;
		text-align: center;
	}
	.blog-area .blog-item {
		margin-bottom: 30px;
	}
	.blog-area .blog-item:last-child {
		margin-bottom: 0px;
	}
	.download-area {
		margin-top: 0;
	}
	.footer-link {
		margin-bottom: 30px;
	}
	.footer-link:last-child {
		margin-bottom: 0px;
	}
}


@media only screen and (max-width: 479px) {
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-b .nav-item {
		margin-bottom: 10px;
	}
	.navbar-b .nav-item:last-child {
		margin-bottom: 0px;
	}
	.home-area {
		padding-top: 150px;
	}
	.home-area .home-content h1 {
		font-size: 33px;
		line-height: 1.3;
	}
	.home-area .home-content p {
		font-size: 15px;
		line-height: 1.3;
	}
	.home-image {
		margin-top: 30px;
	}
	.section-title h2 {
		font-size: 30px;
	}
	.choose-item-box {
		margin-bottom: 30px;
	}
	.choose-item-box:last-child {
		margin-bottom: 0px;
	}
	.about-img {
		margin-bottom: 30px;
	}
	.about-info {
		padding-right: 0;
	}
	.about-info h2 {
		font-size: 25px;
	}
	.screenshort-slide-content {
		height: auto;
	}
	.screenshort-frame {
		display: none;
	}	

	.hero-equal-height{
		min-height: 500px;

	}
	.screenshort-item img {
		margin: auto;
		width: 80% !important;
	}
	.overview-img {
		margin-top: 30px;
		text-align: center;
	}
	.overview-info ul li {
		display: block;
		margin-top: 25px;
		margin-right: 0;
	}
	.faq-img {
		margin-top: 35px;
		text-align: center;
	}
	.blog-area .blog-item {
		margin-bottom: 30px;
	}
	.blog-area .blog-item:last-child {
		margin-bottom: 0px;
	}
	.download-area {
		margin-top: 0;
	}
	.footer-link {
		margin-bottom: 30px;
	}
	.footer-link:last-child {
		margin-bottom: 0px;
	}
}


@media screen and (max-width: 320px) and (min-width: 0px){
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-b .nav-item {
		margin-bottom: 10px;
	}
	.navbar-b .nav-item:last-child {
		margin-bottom: 0px;
	}
	
	#navbarDefault {
		width: 100%;
		height: auto;
		overflow-y: scroll;
	}
	.home-area {
		padding-top: 150px;
	}
	.home-area .home-content h1 {
		font-size: 27px;
		line-height: 1.3;
	}
	.home-area .home-content p {
		font-size: 15px;
		line-height: 1.3;
	}
	.home-content .button-1 {
		margin-left: 0;
	}
	.home-image {
		margin-top: 30px;
	}
	.section-title h2 {
		font-size: 25px;
	}
	.choose-item-box {
		margin-bottom: 30px;
	}
	.choose-item-box:last-child {
		margin-bottom: 0px;
	}
	.about-img {
		margin-bottom: 30px;
	}
	.about-info {
		padding-right: 0;
	}
	.about-info h2 {
		font-size: 20px;
	}
	.screenshort-slide-content {
		height: auto;
	}
	.screenshort-frame {
		display: none;
	}
	.screenshort-item img {
		margin: auto;
		width: 70% !important;
	}
	.testimonial-content-inner .testimonial-text p {
		font-size: 14px;
	}
	.overview-img {
		margin-top: 30px;
		text-align: center;
	}
	.overview-info ul li {
		display: block;
		margin-top: 25px;
		margin-right: 0;
	}
	.faq-img {
		margin-top: 35px;
		text-align: center;
	}
	.blog-area .blog-item {
		margin-bottom: 30px;
	}
	.blog-area .blog-item:last-child {
		margin-bottom: 0px;
	}
	.download-area {
		margin-top: 0;
	}
	.download-app-text h2 {
		font-size: 25px;
	}
	.footer-mobile-number a {
		font-size: 20px;
	}
	.footer-link {
		margin-bottom: 30px;
	}
	.footer-link:last-child {
		margin-bottom: 0px;
	}

}